<h2 mat-dialog-title>Login</h2>
<div>
    <div>
      <mat-form-field style="width: 100%;">
        <mat-label>Nombre de Usuario</mat-label>
        <input matInput [formControl]="username" (input)="updateValidationInvalidPassword()"/>
        <mat-error *ngIf="username.invalid">{{ getErrorMessageUsername() }}</mat-error>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field style="width: 100%;">
        <mat-label>Contraseña</mat-label>
        <input matInput [formControl]="password" [type]="hide? 'password' : 'text'"/>
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-error *ngIf="password.invalid">{{ getErrorMessagePassword() }}</mat-error>
      </mat-form-field>
    </div>
    <br/>
    <div id="buttons-dialog">
      <button id="cancel-dialog" mat-raised-button color="warn" (click)="cancel()">
        Cancelar
      </button>
      <button id="save-dialog" mat-raised-button color="primary" (click)="onLogin()" [disabled]="abled()" cdkFocusInitial>
        Confirmar
      </button>
    </div>
</div>
