#cancel-dialog {
    float: left;
    margin-left: 1%;
  }
  
  #save-dialog {
    float: right;
    margin-right: 1%;
  }
  
  #buttons-dialog {
    justify-content: center;
  }
  
  mat-icon:hover {
  cursor: pointer;
  }
  