mat-icon:hover {
    cursor: pointer;
}

.chat{
    margin: auto;
    width: 90%;
    height: 88%;
}

.chat-content{
    height: 90%;
    overflow-y: auto;
}

.chat-actions mat-form-field{
    width: 100%;
}

.message{
    height:auto; 
    overflow: hidden;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    text-align: justify;
}

.user-message{
    float:right; 
    width: fit-content; 
    max-width: 70%;
    margin: 5px;
    margin-right: 10px;
}

.server-message{
    float:left; 
    width: fit-content; 
    max-width: 70%;
    margin: 5px;
    margin-left: 10px;

}

