mat-icon:hover {
    cursor: pointer;
}

.chat{
    margin: auto;
    width: 90%;
    height: 88%;
}

.chat-content{
    height: 90%;
    overflow-y: auto;
}

.chat-actions mat-form-field{
    width: 100%;
}

.message{
    height:auto; 
    overflow: hidden;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    text-align: justify;
}

.user-message{
    float:right; 
    width: fit-content; 
    max-width: 70%;
    margin: 5px;
    margin-right: 10px;
}

.server-message{
    float:left; 
    width: fit-content; 
    max-width: 70%;
    margin: 5px;
    margin-left: 10px;

}

.option-img {
    vertical-align: middle;
    margin-right: 8px;
    border-radius: 5%;
  }
  
  [dir='rtl'] .option-img {
    margin-right: 0;
    margin-left: 8px;
  }

  .content-mapping > p{
    margin: auto!important;
    padding:5% !important;
  }

  .content-mapping {
    border-radius: 5% !important;
    float: left !important;
    position: relative;
    text-align:center !important; 
    margin: 1% !important;
    width: 23%;
    display: flex;
    align-items: center;
  }

  .content-mapping-list {
    margin-top: 2%;
    display:flex;
    flex-wrap: wrap;
    width: 100%; 
  }

  .person {
    border-radius: 5% !important;
    float: left !important;
    position: relative;
    text-align:center !important; 
    margin: 1% !important;
    width: 23%;
    display:flex;
    flex-direction: column;
    align-items: center;
  }
  .person > img{
    width: 80%;
    display: block;
    margin: auto;
    border-radius: 5%;
  }


  .person-list {
    margin-top: 2%;
    display:flex;
    flex-wrap: wrap;
    width: 100%; 
  }

