
    <nav style="z-index: top;" class="navbar navbar-blue" id="menu-horizontal">
      <div id="menu-horizontal-buttons-left" *ngIf="isLogged">
        <button mat-button routerLink="/chat" >Chat</button>
      </div>

      <div id="menu-horizontal-buttons-right">
        <div id="unlogged" *ngIf="!isLogged">
          <button mat-button (click)="openLogin()" >Login</button>
          <button mat-button (click)="openRegister()" >Registro</button>
        </div>
        <div id="logged" *ngIf="isLogged">
          <button mat-button (click)="onLogOut()" >Cerrar Sesión</button>
          <button mat-button>Perfil</button>
        </div>
      </div>

    </nav>