<!--<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-4">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <form class="form-inline my-2 my-lg-0">
        <button *ngIf="!isLogged" class="btn btn-outline-success my-2 my-sm-0" routerLink="/login" type="submit">
          <i class="fas fa-sign-in-alt"></i> Iniciar Sesión</button>
          <button *ngIf="isLogged" class="btn btn-outline-danger my-2 my-sm-0" (click)="onLogOut()" type="reset">
            <i class="fas fa-sign-in-alt"></i>
            <i class="fas fa-door-open"></i> Cerrar Sesión</button>
      </form>
  
    </div>
  </nav> -->

    <nav style="z-index: top;" class="navbar navbar-blue" id="menu-horizontal">
      <div id="menu-horizontal-buttons-left" *ngIf="isLogged">
      </div>

      <div id="menu-horizontal-buttons-right">
        <div id="unlogged" *ngIf="!isLogged">
          <button mat-button routerLink="/login" >Login</button>
          <button mat-button routerLink="/new" >Registro</button>
        </div>
        <div id="logged" *ngIf="isLogged">
          <button mat-button (click)="onLogOut()" >Cerrar Sesión</button>
          <button mat-button>Perfil</button>
        </div>
      </div>

    </nav>