<div style="display: flex;
flex-direction: column;
text-align:center;width: 40%; 
margin: auto;
margin-top: 10%;">
    <img src="assets/defaults/landing_page_1.png" alt="landing_page_1">
    <h4>Con FilmApp podrás tener al alcance de un click información relacionada con tus películas y series favoritas, leer opiniones de otros usuarios o realizar las tuyas propias.</h4>
</div>

<div style="display: flex;
flex-direction: column;
text-align:center;width: 60%; 
margin: auto;
margin-top: 10%;">
<div style="display: flex;
flex-direction: row;
justify-content: space-between;
text-align:center;
margin-bottom: 3%;">
    <img style="width: 48%;" src="assets/gifs/perfil.gif" alt="perfil"> 
    <img style="width: 48%;" src="assets/gifs/chat.gif" alt="chat"> 
</div>
    <h4>Crea tu perfil, edítalo y mantén una conversación con el bot.</h4>
</div>
<div style="display: flex;
flex-direction: row;
column-gap: 5%;
text-align:justify;width: 40%; 
margin: auto;
margin-top: 10%; margin-bottom: 15%;">
    <img style="width: 20%; border-radius: 20% 0%;"  src="/assets/defaults/davcamalv.jpg">
    <div>
        <h2>David Campaña Álvarez</h2>
        <div>
            <p>Ingeniero Informático con experiencia en el desarrollo software. He realizado diversos proyectos en grupo con lenguajes como Java, PHP, python o Javascript entre otros, haciendo uso de diferentes frameworks como Spring Boot, laravel, django o Angular. En ellos he hecho uso de metodologías ágiles como Scrum o TDD.</p>
        </div>
        <mat-chip-list>
            <mat-chip>
                <mat-chip-avatar>
                    <img style="width: 50%;" src="/assets/defaults/github.png" alt="github.png"/>
                </mat-chip-avatar>
                <a href="https://github.com/davcamalv" target="_blank" rel="noopener">davcamalv</a>
            </mat-chip>
            <mat-chip>
                <mat-chip-avatar>
                    <img style="width: 50%;" src="/assets/defaults/linkedin.png" alt="linkedin.png"/>
                </mat-chip-avatar>
                <a href="https://www.linkedin.com/in/davcamalv/" target="_blank" rel="noopener">in/davcamalv</a>
            </mat-chip>
            <mat-chip>
                <mat-chip-avatar>
                    <img style="width: 50%;" src="/assets/defaults/email.png" alt="email.png"/>
                </mat-chip-avatar>
                <a href="mailto:davcamalv@alum.us.es" target="_blank" rel="noopener">davcamalv@alum.us.es</a>
            </mat-chip>
        </mat-chip-list>
    </div>
</div>
