<div class="profile">
    <mat-card class="left-profile">
        <mat-card-header class="avatar">
            <img [src]="avatar">
            <br>
            <h1>David Campaña Álvarez</h1>
        </mat-card-header>
        <mat-card-content>
            <div class="details">
                <h3><strong>Detalles</strong></h3>
                <p>dcamalv@gmail.com</p>
                <p>davcamalv</p>
                <p>08/02/1998</p>
            </div>
            <br>
            <div>
                <h3><strong>Géneros preferidos</strong></h3>
            </div>
            <div class="content-mapping-list">
                <div class="content-mapping"><p>Acción &amp; Aventura</p></div>
                <div class="content-mapping"><p>Western</p></div>
                <div class="content-mapping"><p>Terror</p></div>
                <div class="content-mapping"><p>Familia</p></div>
            </div>
        </mat-card-content>
    </mat-card>
    <mat-card class="right-profile">
        <div class="to-watch-list">
            <h3><strong>Mi lista</strong></h3>
            <div class="scrollable">
                <div class="to-watch-img">
                    <img class="image" src="https://images.justwatch.com/poster/118897420/s718">
                    <div class="overlay-img">
                        <h2>El asesinato de jesse james por el cobarde robert ford</h2>
                        <h4>Año:&nbsp;</h4>
                        <p>(2002)</p>
                        <h4>Puntuación:&nbsp;</h4>
                        <p>7.3 (690k)</p>
                        <h4>Tipo:&nbsp;</h4>
                        <p>Película</p>
                    </div>
                </div>
                
            </div>
        </div>
        <div class="reviews">
            <h3><strong>Reseñas</strong></h3>
        </div>
    </mat-card>
</div>
